<form (ngSubmit)="chat()" fxLayout="row">
  <mat-form-field class="text" fxFlex="1 1 auto">
    <input matInput placeholder="発言内容" name="text" [(ngModel)]="text">
  </mat-form-field>
  <button mat-button type="submit">発言</button>
</form>

<div>
  <div *ngFor="let chat of chats$ | async" class="line">
    <ng-container [ngSwitch]="chat.action">
      <div *ngSwitchCase="'chat'" class="chat">
        <b>{{ chat.user }}</b> &gt; {{ chat.text }}
      </div>
      <div *ngSwitchCase="'enter'" class="enter">
        <b>{{ chat.user }}</b> が入室しました
      </div>
      <div *ngSwitchCase="'leave'" class="leave">
        <b>{{ chat.user }}</b> が退室しました
      </div>
      <div *ngSwitchCase="'set-game'" class="set-game">
        <b>{{ chat.user }}</b> が出題中です
      </div>
      <div *ngSwitchCase="'start-game'" class="start-game">
        <b>{{ chat.user }}</b> が出題しました
      </div>
      <ng-container *ngSwitchCase="'finish-game'">
        <ng-container [ngSwitch]="chat.reason">
          <div *ngSwitchCase="'cancel'" class="cancel">
            出題がキャンセルされました
          </div>
          <div *ngSwitchCase="'finish'" class="finish">
            ゲームが終了しました
          </div>
        </ng-container>
      </ng-container>
      <div *ngSwitchCase="'word'" class="word">
        あなたのワードは <b>{{ chat.word }}</b> です
      </div>
      <div *ngSwitchCase="'game'" class="game">
        <div fxLayout="column" fxLayoutGap="1ex">
          <div>
            <div class="field-label">村人ワード</div>
            <div>{{ chat.game.normal_word }}</div>
          </div>
          <div>
            <div class="field-label">狼ワード</div>
            <div>{{ chat.game.wolf_word }}</div>
          </div>
          <div>
            <div class="field-label">狼</div>
            <div>
              <div *ngFor="let wolf of chat.game.wolves">
                {{ wolf.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'votes'" class="votes">
        <div class="field-label">投票状況</div>
        <mat-table [dataSource]="chat.votes" class="votes">
          <ng-container matColumnDef="voter">
            <mat-cell *matCellDef="let vote">{{ vote.voter.name }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="votee">
            <mat-cell *matCellDef="let vote">{{ vote.votee.name }}</mat-cell>
          </ng-container>
          <mat-row *matRowDef="let room; columns: ['voter', 'votee'];">
          </mat-row>
        </mat-table>
      </div>
      <div *ngSwitchCase="'expire'" class="expire">
        この部屋は一定時間使用されなかったため閉鎖されます
      </div>
    </ng-container>
  </div>
</div>
