<mat-toolbar class="toolbar">
  <mat-icon>videogame_asset</mat-icon>
  <button mat-button type="button" class="vote"
          *ngIf="user.id != room.game.creator_id"
          (click)="word()">
    ワード
  </button>
  <button mat-button type="button" class="vote"
          *ngIf="user.id != room.game.creator_id"
          (click)="vote()">
    投票
  </button>
  <button mat-button type="button" class="vote"
          *ngIf="user.id == room.game.creator_id"
          (click)="gameContent()">
    ゲーム内容
  </button>
  <button mat-button type="button" class="vote"
          *ngIf="user.id == room.game.creator_id"
          (click)="voteStatus()">
    投票状況
  </button>
  <button mat-icon-button type="button" class="finish-game"
          (click)="finishGame()">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>
